@font-face {
    font-family: K2D;
    src: url(../asset/font/K2D-Regular.ttf);
}

@font-face {
    font-family: K2D;
    src: url(../asset/font/K2D-Bold.ttf);
    font-weight: bold;
}

html, body {
    height: 100%;
    position:relative;
}

*{
    font-family: K2D, Roboto, Arial;
}

.pagebase {
    width: 100%;
    height: calc(100vh - 68px);
}

.grid-two-column {
    display: grid;
    grid-template-columns: .3fr .7fr;
    height: 100%;
    width: 100%;
}

.equal {
    grid-template-columns: .5fr .5fr;
}

.whitebg{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 100%;
}

.border-radius{
    border-radius: 11px;
}

.padding{
    padding: 20px;
    height: 100%;
    width: 100%;
}

.padding-2{
    padding: 30px;
    height: fit-content;
    width: 100%;
}

.bold{
    font-weight: bold;
}

.no-margin{
    margin: 0;
}

.form{
    width: 70%;
    height: 50%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.form-create{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.med-bold{
    font-weight: 500;
}

.home-grid{
    display: grid;
    grid-template-rows: .35fr .3fr .35fr;
    height: 100%;
    width: 100%;
}

.flex-col{
    display: flex;
    flex-direction: row;
}

.flex-row{
    display: flex;
    flex-direction: column;
}

.head{
    align-items: center;
    font-weight: bold;
    font-size: 28px;
}

.action{
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 22px;
}

.bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link{
    font-size: 20px;
}

.button{
    cursor: pointer;
}

.button:hover{
    cursor: pointer;
    transition: .3s ease;
    opacity: 0.85;
}

.dropdown-item:hover{
    background-color: #CCCCCC;
}

.form-control.is-valid, .was-validated .form-control:valid{
    border-color: #ced4da;
    background-image: none;
}

.required{
    color : red;
    vertical-align: text-bottom;
}

.form-control.is-valid:focus, .was-validated .form-control:valid:focus{
    color: black;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: black;
}

.center{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.base-table{
    width: 90%;
    min-width: 600px;
    height: calc(100vh - 68px);
}

.transparent-border{
    border-color: transparent;
}

.text-ovf{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px
}

.col-th{
    white-space: nowrap;
}

hr.solid {
    border-top: 2px solid #999;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

hr.line {
    border-top: 1px solid #999;
}

.row-header{
    font-weight: bold;
    font-size: 18px;
}

.date{
    font-size: 13.5px;
}

@media screen and (max-width: 992px) {
    .grid-two-column {
        display: block;
    }
}