<nav class="navbar navbar-right navbar-expand-lg navbar-dark ">
    <a class="navbar-brand head" href="./index.html">Gemini OCS 0.1</a>
    <span class="navbar-brand" id="user"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="./index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Science Plan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./createPlan.html">Create</a>
                    <a class="dropdown-item" href="./testPlan.html">Test</a>
                    <a class="dropdown-item" href="./submitPlan.html">Submit</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./validatePlan.html">Validate</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Observing Program
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./createProgram.html">Create</a>
                </div>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#" id="logout">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>